<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">

  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
  <link rel="manifest" href="../static/img/site.webmanifest">
  <link rel="mask-icon" href="../static/img/safari-pinned-tab.svg" color="#5bbad5">

  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;family=Poppins:ital,wght@0,500;1,500&amp;display=swap"
    rel="stylesheet">
  <link rel="stylesheet" media="all" href="../static/css/super.css">
  <script>var viewportmeta = document.querySelector('meta[name="viewport"]');
    if (viewportmeta) {
      if (screen.width < 375) {
        var newScale = screen.width / 375;
        viewportmeta.content = 'width=375, minimum-scale=' + newScale + ', maximum-scale=1.0, user-scalable=no, initial-scale=' + newScale + '';
      } else {
        viewportmeta.content = 'width=device-width, maximum-scale=1.0, initial-scale=1.0';
      }
    }
  </script>


</head>
<body>
  <script>console.log(localStorage.getItem('darkMode'));
    if (localStorage.getItem('darkMode') === "on") {
      document.body.classList.add("dark");
      document.addEventListener("DOMContentLoaded", function () {
        document.querySelector('.js-switch-theme input').checked = true;
      });
    }
  </script>
  <div class="page">

    <!--左边侧栏-->
            <div class="sidebar">

            <div class="sidebar__top">

                <button class="sidebar__close">
                    <svg class="icon icon-close">
                        <use xlink:href="../static/img/sprite.svg#icon-close"></use>
                    </svg>
                </button>

                <a class="sidebar__logo" href="#">
                    <img class="sidebar__pic sidebar__pic_black" src="../static/img/logo.png" alt="" />
                    <img class="sidebar__pic sidebar__pic_white" src="../static/img/logo-white.png" alt="" />
                </a>

                <button class="sidebar__burger"></button>

            </div>

            <div class="sidebar__wrapper">
                <div class="sidebar__inner">
                    <a class="sidebar__logo" href="#"><img class="sidebar__pic" src="../static/img/logo-sm.png"
                                                           alt="" /></a>
                    <div class="sidebar__list">
                        <div class="sidebar__group">
                            <div class="sidebar__caption caption-sm"><span>Overview</span></div>
                            <div class="sidebar__menu">
                                <a class="sidebar__item" href="overview1.html">

                                    <div class="sidebar__icon">
                                        <svg class="icon icon-overview">
                                            <use xlink:href="../static/img/sprite.svg#icon-overview"></use>
                                        </svg>
                                    </div>

                                    <div class="sidebar__text">首页</div>
                                </a>
                            </div>
                        </div>


                        <div class="sidebar__group">

                            <div class="sidebar__caption caption-sm">
                                <span>设备状况监控</span>
                            </div>

                            <div class="sidebar__menu">

                                <a class="sidebar__item  " href="monitor.html">
                                    <div class="sidebar__icon"><svg class="icon icon-overview">
                                        <use xlink:href="../static/img/sprite.svg#icon-overview"></use>
                                    </svg></div>
                                    <div class="sidebar__text">站点趋势总览</div>
                                </a>

                                <a class="sidebar__item  active" href="detail1.html">
                                    <div class="sidebar__icon"><svg class="icon icon-bag">
                                        <use xlink:href="../static/img/sprite.svg#icon-bag"></use>
                                    </svg></div>
                                    <div class="sidebar__text">位置流量趋势</div>
                                </a>

                                <a class="sidebar__item" href="other.html">
                                    <div class="sidebar__icon"><svg class="icon icon-bag">
                                        <use xlink:href="../static/img/sprite.svg#icon-bag"></use>
                                    </svg></div>
                                    <div class="sidebar__text">健康评测总览</div>
                                </a>

                                <a class="sidebar__item" href="detail2.html">
                                    <div class="sidebar__icon"><svg class="icon icon-bag">
                                        <use xlink:href="../static/img/sprite.svg#icon-bag"></use>
                                    </svg></div>
                                    <div class="sidebar__text">网络健康细分指标</div>
                                </a>
                            </div>

                        </div>

                        <div class="sidebar__group">
                            <div class="sidebar__caption caption-sm">工具</div>
                            <div class="sidebar__menu">

                                <a class="sidebar__item" href="userlist.html">
                                    <div class="sidebar__icon">
                                        <svg class="icon icon-message">
                                            <use xlink:href="../static/img/sprite.svg#icon-message"></use>
                                        </svg>
                                    </div>
                                    <div class="sidebar__text">查询用户列表</div>
                                </a>

                                <a class="sidebar__item" href="userJourney.html">
                                    <div class="sidebar__icon">
                                        <svg class="icon icon-message">
                                            <use xlink:href="../static/img/sprite.svg#icon-message"></use>
                                        </svg>
                                    </div>
                                    <div class="sidebar__text">查询用户旅程</div>
                                </a>
<a class="sidebar__item" href="userfeedback.html">
                  <div class="sidebar__icon">
                    <svg class="icon icon-message">
                      <use xlink:href="../static/img/sprite.svg#icon-message"></use>
                    </svg>
                  </div>
                  <div class="sidebar__text">用户反馈</div>
                </a>
                                <a class="sidebar__item" href="errorDetect1.html">
                                    <div class="sidebar__icon">
                                        <svg class="icon icon-notification">
                                            <use xlink:href="../static/img/sprite.svg#icon-notification"></use>
                                        </svg>
                                    </div>
                                    <div class="sidebar__text">消息中心</div>
                                    <div class="sidebar__counter">3</div>
                                </a>

                                <a class="sidebar__item" href="satisfaction.html">
                                    <div class="sidebar__icon">
                                        <svg class="icon icon-chat">
                                            <use xlink:href="../static/img/sprite.svg#icon-chat"></use>
                                        </svg>
                                    </div>
                                    <div class="sidebar__text">扩展功能</div>
                                </a>

                            </div>


                        </div>
                    </div>

                    <div class="sidebar__profile">
                        <div class="sidebar__details">

                            <a class="sidebar__link js-popup-open" href="#popup-settings">
                                <div class="sidebar__icon">
                                    <svg class="icon icon-profile">
                                        <use xlink:href="../static/img/sprite.svg#icon-profile"></use>
                                    </svg>
                                </div>
                                <div class="sidebar__text">Profile</div>
                            </a>


                            <a class="sidebar__link" href="Sign_IN&UP.html">
                                <div class="sidebar__icon">
                                    <svg class="icon icon-logout">
                                        <use xlink:href="../static/img/sprite.svg#icon-logout"></use>
                                    </svg>
                                </div>
                                <div class="sidebar__text">Log out</div>
                            </a>

                        </div>

                        <a class="sidebar__user" href="#">

                            <div class="sidebar__ava"><img class="sidebar__pic" src="../static/img/ava.png" alt="" />
                            </div>
                            <div class="sidebar__desc">
                                <div class="sidebar__man">管理员</div>
                                <div class="sidebar__status caption">administer</div>
                            </div>
                            <div class="sidebar__arrow">
                                <svg class="icon icon-arrows">
                                    <use xlink:href="../static/img/sprite.svg#icon-arrows"></use>
                                </svg>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="sidebar__bottom"><label class="switch switch_theme js-switch-theme"><input class="switch__input"
                                                                                                   type="checkbox" /><span class="switch__in"><span class="switch__box"></span><span
                    class="switch__icon"><svg class="icon icon-moon">
                                <use xlink:href="../static/img/sprite.svg#icon-moon"></use>
                            </svg><svg class="icon icon-sun">
                                <use xlink:href="../static/img/sprite.svg#icon-sun"></use>
                            </svg></span></span></label></div>
        </div>


    <div class="page__wrapper">
      <div class="page__center">
        <!-- 顶栏 -->
        <div class="page__row page__row_head page__row_border">

          <div class="page__col">
            <div class="page__hello h5">设备状态监控</div>
            <div class="page__welcome h2">根节点 | 深圳<span class="desktop-hide"></span></div>
          </div>

          <div class="page__col">

            <!--搜索栏-->
            <div class="header"><button class="header__burger"></button>

              <div class="search">

                <div class="search__field"><input class="search__input" type="text" placeholder="使用帮助" /><button
                    class="search__toggle"><svg class="icon icon-search">
                      <use xlink:href="../static/img/sprite.svg#icon-search"></use>
                    </svg><svg class="icon icon-close">
                      <use xlink:href="../static/img/sprite.svg#icon-close"></use>
                    </svg></button>
                </div>

                <div class="search__result">
                  <div class="search__info caption-sm"></div>
                  <div class="search__list"><a class="search__item" href="#">
                      <div class="search__preview bg-pink"><img class="search__pic" src="../static/img/figure-1.png"
                          alt="" />
                      </div>
                      <div class="search__text">说明文档<svg class="icon icon-arrow-right">
                          <use xlink:href="../static/img/sprite.svg#icon-arrow-right"></use>
                        </svg></div>
                    </a><a class="search__item" href="#">
                      <div class="search__preview bg-yellow"><img class="search__pic" src="../static/img/figure-4.png"
                          alt="" />
                      </div>
                      <div class="search__text">使用帮助<svg class="icon icon-arrow-right">
                          <use xlink:href="../static/img/sprite.svg#icon-arrow-right"></use>
                        </svg></div>
                    </a><a class="search__item" href="#">
                      <div class="search__preview bg-blue-light"><img class="search__pic"
                          src="../static/img/figure-3.png" alt="" /></div>
                      <div class="search__text">其他<svg class="icon icon-arrow-right">
                          <use xlink:href="../static/img/sprite.svg#icon-arrow-right"></use>
                        </svg></div>
                    </a></div><button class="search__btn btn btn_purple btn_wide">Advance Search</button>
                </div>

              </div><button class="header__search"><svg class="icon icon-search">
                  <use xlink:href="../static/img/sprite.svg#icon-search"></use>
                </svg></button>


              <div class="notifications"><button class="notifications__open"><svg class="icon icon-bell">
                    <use xlink:href="../static/img/sprite.svg#icon-bell"></use>
                  </svg><span class="notifications__counter">3</span></button>
                <div class="notifications__wrap">
                  <div class="notifications__info h6">运行消息</div>

                  <div class="notifications__list">


                    <a class="notifications__item" href="notifications.html">
                      <div class="notifications__ava"><img class="notifications__pic" src="../static/img/ava-1.png"
                          alt="" />
                        <div class="notifications__status bg-blue"><img class="notifications__pic"
                            src="../static/img/chat.svg" alt="" /></div>
                      </div>
                      <div class="notifications__details">
                        <div class="notifications__line">
                          <div class="notifications__user caption">设备检测助手</div>
                          <div class="notifications__time caption">8h</div>
                        </div>
                        <div class="notifications__text caption-sm">你的设备可能炸了<span
                            class="notifications__project">系统消息</span></div>
                      </div>


                    </a><a class="notifications__item" href="notifications.html">
                      <div class="notifications__ava"><img class="notifications__pic" src="../static/img/ava-1.png"
                          alt="" />
                        <div class="notifications__status bg-green"><img class="notifications__pic"
                            src="../static/img/bag.svg" alt="" /></div>
                      </div>
                      <div class="notifications__details">
                        <div class="notifications__line">
                          <div class="notifications__user caption">运行报告</div>
                          <div class="notifications__time caption">12h</div>
                        </div>
                        <div class="notifications__text caption-sm">24内设备的运行报告出炉了！ <span
                            class="notifications__project">系统信息</span></div>
                      </div>


                    </a><a class="notifications__item" href="notifications.html">
                      <div class="notifications__ava"><img class="notifications__pic" src="../static/img/ava-1.png"
                          alt="" />
                        <div class="notifications__status bg-purple"><img class="notifications__pic"
                            src="../static/img/message.svg" alt="" /></div>
                      </div>
                      <div class="notifications__details">
                        <div class="notifications__line">
                          <div class="notifications__user caption">用户消息</div>
                          <div class="notifications__time caption">14h</div>
                        </div>
                        <div class="notifications__text caption-sm">用户发来一条消息📪 </div>
                      </div>

                    </a>
                  </div>
                  <div class="notifications__btns"><a class="notifications__btn btn btn_black"
                      href="/errorDetect.html">查看所有历史记录</a></div>
                </div>
              </div><a class="header__user" href="#"><img class="header__pic" src="../static/img/ava.png" alt="" /></a>
            </div>
          </div>
        </div>

        <!--主体-->
        <div class="page__row page__row_border">
          <!--主体 -中心-->
          <div class="page__col">


            <div class="details">
              <div class="details__container" style="height: 500px ">
                <div class="details__title h6">AP热力图</div>

                <div class="details__box" style="background-color: #fff;">
                  <div class="details__chart details__chart_counter ">
                    <div id="heatmap">
                      <img src="../static/img/拓扑.png" style="margin: auto; width: 695px; height: 330px ">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="details">
              <div class="details__container" style="height: 500px ">
                <div class="details__title h6">用户终端分布图</div>

        <!--                <div class="details__box" style="background-color: #fff;">-->
<!--                  <div class="details__chart details__chart_counter ">-->
<!--                    <div id="heatmap2">-->
<!--                      <img src="../../static/img/拓扑.png" style="margin: auto; width: 695px; height: 330px ">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<div class="box">
  <div class="wrap">

    <div class="canvas-box" style="width: 695px; height: 330px;transform: translate(60px,0)" id="Div1">
      <canvas id="cvs" width="2134" height="1008" style="background:url(../../static/img/拓扑2.0.png);width: 695px; height: 330px;"></canvas>
    </div>
    <div class="container"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>




          <div class="page__col">
            <div class="page__group">
              <!--主体侧栏-上半-->
              <div class="widget widget_stat widget_pb60">

                <div class="widget__title">站点设备分布</div>
                <div class="widget__counter title title_md color-purple">
                  <div id="6a7c753f18d04e8585e1827c1af1bb60" class="chart-container"
                       style="width:100%; height:300px;overflow:hidden;"></div>
                </div>

                <div class="widget__text"></div>
                <a class="widget__btn btn btn_white btn_wide" href="../static/payouts.html">查看详情</a>

              </div>

              <!--主体侧栏-下半-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--弹出窗口-->
  <div class="popup mfp-hide" id="popup-settings">
  </div>

  <!-- scripts-->
  <script src="../static/js/lib/jquery.min.js"></script>
  <script src="../static/js/lib/owl.carousel.min.js"></script>
  <script src="../static/js/lib/svg4everybody.min.js"></script>
  <script src="../static/js/lib/apexcharts.min.js"></script>
  <script src="../static/js/lib/jquery.magnific-popup.min.js"></script>
  <script src="../static/js/super.js"></script>
  <script src="../static/js/charts.js"></script>

  <!--pyecharts-->
  <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
  <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>
  <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/guangdong.js"></script>
  <script src="../static/js/mycharts/pyecharts-heatmap-gd.js"></script>
  <script src="../static/js/mycharts/pyecharts-circle.js"></script>
  <script src="../static/js/mycharts/parallel.js"></script>

  <!--flow-chart-->
  <script src="../static/js/lib/flot/jquery.flot.js"></script>
  <script src="../static/js/mycharts/flow-chart.js"></script>

  <!--heatmap-->
  <script>
    $(function () {
      $.ajax({
        type: "post",
        // python url
        url: "/heart_map",
        //java url
        // url: "http://localhost:8080/heartmap/get_heartmap",

        dataType: "json",
        success: function (data) {
          console.log(data);
          var heatmapInstance = h337.create({
            container: document.querySelector('#heatmap'),
          });

          var points = [];
          var max = 0;

          points = data.sss
          var draw_data = {
            max: 50,
            data: data.sss

          };
          console.log(draw_data)
          heatmapInstance.setData(draw_data);

        },
      })
    });

  </script>

<script>

  //数据导入//

  //AP列表
  var ap_list = [{ 'apMac': '9c-50-ee-1d-f2-6b', 'name': 'N5-2F-11', 'x': 1480, 'y': 430 },
    { 'apMac': '9c-50-ee-1d-f2-60', 'name': 'N5-2F-3', 'x': 1111, 'y': 700},
    { 'apMac': '9c-50-ee-1d-f2-76', 'name': 'N5-2F-22', 'x': 1480, 'y': 450 },
    { 'apMac': '9c-50-ee-1d-f2-62', 'name': 'N5-2F-1', 'x': 1111, 'y': 650 },
    { 'apMac': '9c-50-ee-1d-f2-77', 'name': 'N5-2F-23', 'x': 1111, 'y': 630},
    { 'apMac': '9c-50-ee-1d-f2-79', 'name': 'N5-2F-25', 'x':1111, 'y': 610 },
    { 'apMac': '9c-50-ee-1d-f2-73', 'name': 'N5-2F-19', 'x': 1111, 'y': 590}]

  //用户终端列表
  var client_xylist = [{ 'Mac': '00-00-26-2f-a1-18', 'apMac': '9c-50-ee-1d-f2-6b', 'x': 1030, 'y': 790 },
    { 'Mac': '00-00-06-c8-6f-b9', 'apMac': '9c-50-ee-1d-f2-76', 'x': 300, 'y': 483 },
    { 'Mac': '00-00-21-e2-b5-4e', 'apMac': '9c-50-ee-1d-f2-76', 'x': 530, 'y': 656 },
    { 'Mac': '00-00-21-e2-b5-5e', 'apMac': '9c-50-ee-1d-f2-76', 'x': 700, 'y': 268 },
    { 'Mac': '00-00-15-41-3c-46', 'apMac': '9c-50-ee-1d-f2-76', 'x': 240, 'y': 678 },
    { 'Mac': '00-00-26-2f-a1-16', 'apMac': 'null', 'x': 1030, 'y': 790 },
    { 'Mac': '00-00-15-41-3c-16', 'apMac': 'null', 'x': 240, 'y': 678 },
    { 'Mac': '00-00-15-41-3c-97', 'apMac': '9c-50-ee-1d-f2-6b', 'x': 1469, 'y':600 },
      { 'Mac': '00-00-15-41-4p-83', 'apMac': '9c-50-ee-1d-f2-6b', 'x':1600, 'y': 233 },
      { 'Mac': '00-00-15-41-1a-7e', 'apMac': '9c-50-ee-1d-f2-6b', 'x': 1520, 'y': 788 },
    { 'Mac': '00-00-26-2f-a1-66', 'apMac': 'null', 'x': 1030, 'y': 790 },
    { 'Mac': '00-00-21-e2-b5-91', 'apMac': '9c-50-ee-1d-f2-76', 'x': 1800, 'y': 556 }]
  //数据导入end//

  //绘制
  var cvs = document.getElementById('cvs');
  if (cvs.getContext) {

    var Ctx = cvs.getContext('2d');

    //绘制AP
    Ctx.font = "48px Arial";
    Ctx.fillStyle = "#008B8B";
    for (i = 0; i < ap_list.length; i++) {
      Ctx.fillRect(ap_list[i]['x'], ap_list[i]['y'], 25, 25);
      Ctx.fillText(ap_list[i]['name'], ap_list[i]['x'] - 50, ap_list[i]['y'] + 50);
    }

    // 绘制终端设备点
    Ctx.font = "40px Arial";
    Ctx.fillStyle = "#191970";
    for (i = 0; i < client_xylist.length; i++) {
      Ctx.fillRect(client_xylist[i]['x'], client_xylist[i]['y'], 15, 15);
      Ctx.fillText(client_xylist[i]['Mac'], client_xylist[i]['x'] - 50, client_xylist[i]['y'] + 50);
    }


    // 绘制直线
    for (i = 0; i < client_xylist.length; i++) {
      for (j = 0; j < ap_list.length; j++) {
        if (client_xylist[i]['apMac'] == ap_list[j]['apMac']) {
          // console.log(client_xylist[i]['apMac']);
          // console.log(client_xylist[i]['x'],client_xylist[i]['y']);
          // console.log(ap_list[j]['x'],ap_list[j]['y']);
          Ctx.beginPath();
          Ctx.strokeStyle = '	#008B8B';
          Ctx.lineWidth = 3;
          Ctx.moveTo(client_xylist[i]['x'],client_xylist[i]['y']);
          Ctx.lineTo(ap_list[j]['x']+10,  ap_list[j]['y']+10);
          Ctx.closePath();
          Ctx.stroke();
        }
      }

    }
  }
</script>
<script src="../static/js/lib/heatmap.js/build/heatmap.js"></script>

</body>

</html>