<!DOCTYPE html>
<html lang="en" nighteye="disabled">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>index</title>
    <link rel="stylesheet" href="../static/css/public.css">
    <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
    <div class="video-bg">
        <img src="../static/img/bgx.png" alt="" class="bg-img">

        <div class="banner1-info new">

            <div class="wording show">

                <div class="move">
                    <img src="../static/img/logo-white.png" style="margin-left: 120px;height: 50%; width: 60%;">
                </div>
                <div class="move-title ">方便快捷的运维助手</div>
                <div class="move-desc ">支持实时监控、故障检测、数据分析等功能。</div>

                <div class="move-down">
                    <a href="/Sign_IN&UP.html" class="move-down-a" >
                        <span>立即体验</span>
                        <span>▶开始使用</span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="header scrollTop">
        <div class="h-inner">

            <h1 class="logo"></h1>

            <div class="nav">
                <ul class="nav-ul">
                    <li class="nav-item"><a href="#" class="active">首页</a></li>
                    <li class="nav-item"><a href="">帮助</a></li>
                    <li class="nav-item"><a href="">其他</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="function">
        <div class="func-inner clear">
            <div class="func-item">
                <div class="func-logo1"></div>
                <div class="func-title">使用方便，功能强大</div>
                <div class="func-desc">提供了简明的操作界面，免除繁杂的学习，简单设置即可上手，提供了众多运维辅助功能。</div>
            </div>
            <div class="func-item">
                <div class="func-logo2"></div>
                <div class="func-title">直观呈现，高效分析</div>
                <div class="func-desc">借助于图形化手段，清晰有效地传达与沟通信息。让数字不再冰冷枯燥，大大提高使用效率。</div>
            </div>
            <div class="func-item">
                <div class="func-logo3"></div>
                <div class="func-title">网络安全，信息保密</div>
                <div class="func-desc">通信过程采用加密手段，确保信息保密、及时、准确、完整。</div>
            </div>
        </div>
    </div>
    

    <div class="more" style="position:relative;">

        <div class="more-inner clear">

            <div class="more-item">
                <div class="item-logo2"></div>
                <div class="item-title">多节点监控</div>
                <div class="item-desc"> 检测多个节点网络设备运行状况，降低运维难度。</div>
            </div>

            <div class="more-item">
                <div class="item-logo3"></div>
                <div class="item-title">数据图表</div>
                <div class="item-desc"> 实时获取运行数据生成可视化图表，便于直观理解数据。</div>
            </div>

            <div class="more-item">
                <div class="item-logo4"></div>
                <div class="item-title">智能报警</div>
                <div class="item-desc">检测设备运行异常情况，自动通知用户处理。</div>
            </div>

            <div class="more-item">
                <div class="item-logo1"></div>
                <div class="item-title">扩展功能</div>
                <div class="item-desc">语音控制、客户分析等扩展功能持续完善中。</div>
            </div>

           
        </div>
    </div>


    <!-- <div class="footer">
        <p class="copy-right">这里是一行注释</p>
    </div> -->
    
</body>

</html>