<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <title>Comments</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="apple-touch-icon" sizes="180x180" href="../../static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../static/img/favicon-16x16.png">
  <link rel="manifest" href="../static/img/site.webmanifest">
  <link rel="mask-icon" href="../../static/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="Ultimate Multipurpose HTML Dashboard Kit">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@ui8">
  <meta name="twitter:title" content="Unity">
  <meta name="twitter:description" content="Ultimate Multipurpose HTML Dashboard Kit">
  <meta name="twitter:creator" content="@ui8">
  <meta name="twitter:image" content="https://ui8-unity.herokuapp.com/img/twitter-card.jpg">
  <meta property="og:title" content="Unity">
  <meta property="og:type" content="Article">
  <meta property="og:url" content="https://ui8-unity.herokuapp.com/index.html">
  <meta property="og:image" content="https://ui8-unity.herokuapp.com/img/fb-og-image.jpg">
  <meta property="og:description" content="Ultimate Multipurpose HTML Dashboard Kit">
  <meta property="og:site_name" content="Unity">
  <meta property="fb:admins" content="132951670226590">
  <link
          href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&amp;family=Poppins:ital,wght@0,500;1,500&amp;display=swap"
          rel="stylesheet">
  <link rel="stylesheet" media="all" href="../../static/css/super.css">
  <script>var viewportmeta = document.querySelector('meta[name="viewport"]');
  if (viewportmeta) {
    if (screen.width < 375) {
      var newScale = screen.width / 375;
      viewportmeta.content = 'width=375, minimum-scale=' + newScale + ', maximum-scale=1.0, user-scalable=no, initial-scale=' + newScale + '';
    } else {
      viewportmeta.content = 'width=device-width, maximum-scale=1.0, initial-scale=1.0';
    }
  }
  </script>

</head>

<body>
<script>console.log(localStorage.getItem('darkMode'));
if (localStorage.getItem('darkMode') === "on") {
  document.body.classList.add("dark");
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelector('.js-switch-theme input').checked = true;
  });
}
</script>


<div class="page">

  <!--左边侧栏-->
          <div class="sidebar">

            <div class="sidebar__top">

                <button class="sidebar__close">
                    <svg class="icon icon-close">
                        <use xlink:href="../static/img/sprite.svg#icon-close"></use>
                    </svg>
                </button>

                <a class="sidebar__logo" href="#">
                    <img class="sidebar__pic sidebar__pic_black" src="../static/img/logo.png" alt="" />
                    <img class="sidebar__pic sidebar__pic_white" src="../static/img/logo-white.png" alt="" />
                </a>

                <button class="sidebar__burger"></button>

            </div>

            <div class="sidebar__wrapper">
                <div class="sidebar__inner">
                    <a class="sidebar__logo" href="#"><img class="sidebar__pic" src="../static/img/logo-sm.png"
                                                           alt="" /></a>
                    <div class="sidebar__list">
                        <div class="sidebar__group">
                            <div class="sidebar__caption caption-sm"><span>Overview</span></div>
                            <div class="sidebar__menu">
                                <a class="sidebar__item" href="overview1.html">

                                    <div class="sidebar__icon">
                                        <svg class="icon icon-overview">
                                            <use xlink:href="../static/img/sprite.svg#icon-overview"></use>
                                        </svg>
                                    </div>

                                    <div class="sidebar__text">首页</div>
                                </a>
                            </div>
                        </div>


                        <div class="sidebar__group">

                            <div class="sidebar__caption caption-sm">
                                <span>设备状况监控</span>
                            </div>

                            <div class="sidebar__menu">

                                <a class="sidebar__item  " href="monitor.html">
                                    <div class="sidebar__icon"><svg class="icon icon-overview">
                                        <use xlink:href="../static/img/sprite.svg#icon-overview"></use>
                                    </svg></div>
                                    <div class="sidebar__text">站点趋势总览</div>
                                </a>

                                <a class="sidebar__item " href="detail1.html">
                                    <div class="sidebar__icon"><svg class="icon icon-bag">
                                        <use xlink:href="../static/img/sprite.svg#icon-bag"></use>
                                    </svg></div>
                                    <div class="sidebar__text">位置流量趋势</div>
                                </a>

                                <a class="sidebar__item" href="other.html">
                                    <div class="sidebar__icon"><svg class="icon icon-bag">
                                        <use xlink:href="../static/img/sprite.svg#icon-bag"></use>
                                    </svg></div>
                                    <div class="sidebar__text">健康评测总览</div>
                                </a>

                                <a class="sidebar__item" href="detail2.html">
                                    <div class="sidebar__icon"><svg class="icon icon-bag">
                                        <use xlink:href="../static/img/sprite.svg#icon-bag"></use>
                                    </svg></div>
                                    <div class="sidebar__text">网络健康细分指标</div>
                                </a>
                            </div>

                        </div>

                        <div class="sidebar__group">
                            <div class="sidebar__caption caption-sm">工具</div>
                            <div class="sidebar__menu">

                                <a class="sidebar__item" href="userlist.html">
                                    <div class="sidebar__icon">
                                        <svg class="icon icon-message">
                                            <use xlink:href="../static/img/sprite.svg#icon-message"></use>
                                        </svg>
                                    </div>
                                    <div class="sidebar__text">查询用户列表</div>
                                </a>

                                <a class="sidebar__item" href="userJourney.html">
                                    <div class="sidebar__icon">
                                        <svg class="icon icon-message">
                                            <use xlink:href="../static/img/sprite.svg#icon-message"></use>
                                        </svg>
                                    </div>
                                    <div class="sidebar__text">查询用户旅程</div>
                                </a>
<a class="sidebar__item active" href="userfeedback.html">
                  <div class="sidebar__icon">
                    <svg class="icon icon-message">
                      <use xlink:href="../static/img/sprite.svg#icon-message"></use>
                    </svg>
                  </div>
                  <div class="sidebar__text">用户反馈</div>
                </a>
                                <a class="sidebar__item" href="errorDetect1.html">
                                    <div class="sidebar__icon">
                                        <svg class="icon icon-notification">
                                            <use xlink:href="../static/img/sprite.svg#icon-notification"></use>
                                        </svg>
                                    </div>
                                    <div class="sidebar__text">消息中心</div>
                                    <div class="sidebar__counter">3</div>
                                </a>

                                <a class="sidebar__item" href="satisfaction.html">
                                    <div class="sidebar__icon">
                                        <svg class="icon icon-chat">
                                            <use xlink:href="../static/img/sprite.svg#icon-chat"></use>
                                        </svg>
                                    </div>
                                    <div class="sidebar__text">扩展功能</div>
                                </a>

                            </div>


                        </div>
                    </div>

                    <div class="sidebar__profile">
                        <div class="sidebar__details">

                            <a class="sidebar__link js-popup-open" href="#popup-settings">
                                <div class="sidebar__icon">
                                    <svg class="icon icon-profile">
                                        <use xlink:href="../static/img/sprite.svg#icon-profile"></use>
                                    </svg>
                                </div>
                                <div class="sidebar__text">Profile</div>
                            </a>


                            <a class="sidebar__link" href="Sign_IN&UP.html">
                                <div class="sidebar__icon">
                                    <svg class="icon icon-logout">
                                        <use xlink:href="../static/img/sprite.svg#icon-logout"></use>
                                    </svg>
                                </div>
                                <div class="sidebar__text">Log out</div>
                            </a>

                        </div>

                        <a class="sidebar__user" href="#">

                            <div class="sidebar__ava"><img class="sidebar__pic" src="../static/img/ava.png" alt="" />
                            </div>
                            <div class="sidebar__desc">
                                <div class="sidebar__man">管理员</div>
                                <div class="sidebar__status caption">administer</div>
                            </div>
                            <div class="sidebar__arrow">
                                <svg class="icon icon-arrows">
                                    <use xlink:href="../static/img/sprite.svg#icon-arrows"></use>
                                </svg>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="sidebar__bottom"><label class="switch switch_theme js-switch-theme"><input class="switch__input"
                                                                                                   type="checkbox" /><span class="switch__in"><span class="switch__box"></span><span
                    class="switch__icon"><svg class="icon icon-moon">
                                <use xlink:href="../static/img/sprite.svg#icon-moon"></use>
                            </svg><svg class="icon icon-sun">
                                <use xlink:href="../static/img/sprite.svg#icon-sun"></use>
                            </svg></span></span></label></div>
        </div>

  <div class="page__wrapper">
    <div class="page__center">

      <!-- 顶栏 -->
      <div class="page__row page__row_head page__row_border">

        <div class="page__col">
          <div class="page__hello h5">设备运行</div>
          <div class="page__welcome h2">消息中心<span class="desktop-hide"></span></div>
        </div>

        <div class="page__col">

          <!--搜索栏-->
          <div class="header"><button class="header__burger"></button>

            <div class="search">

              <div class="search__field"><input class="search__input" type="text" placeholder="使用帮助" /><button
                      class="search__toggle"><svg class="icon icon-search">
                <use xlink:href="../static/img/sprite.svg#icon-search"></use>
              </svg><svg class="icon icon-close">
                <use xlink:href="../static/img/sprite.svg#icon-close"></use>
              </svg></button>
              </div>

              <div class="search__result">
                <div class="search__info caption-sm"></div>
                <div class="search__list"><a class="search__item" href="#">
                  <div class="search__preview bg-pink"><img class="search__pic" src="../../static/img/figure-1.png" alt="" />
                  </div>
                  <div class="search__text">说明文档<svg class="icon icon-arrow-right">
                    <use xlink:href="../static/img/sprite.svg#icon-arrow-right"></use>
                  </svg></div>
                </a><a class="search__item" href="#">
                  <div class="search__preview bg-yellow"><img class="search__pic" src="../../static/img/figure-4.png" alt="" />
                  </div>
                  <div class="search__text">使用帮助<svg class="icon icon-arrow-right">
                    <use xlink:href="../static/img/sprite.svg#icon-arrow-right"></use>
                  </svg></div>
                </a><a class="search__item" href="#">
                  <div class="search__preview bg-blue-light"><img class="search__pic" src="../../static/img/figure-3.png"
                                                                  alt="" /></div>
                  <div class="search__text">其他<svg class="icon icon-arrow-right">
                    <use xlink:href="../static/img/sprite.svg#icon-arrow-right"></use>
                  </svg></div>
                </a></div><button class="search__btn btn btn_purple btn_wide">Advance Search</button>
              </div>

            </div><button class="header__search"><svg class="icon icon-search">
              <use xlink:href="../static/img/sprite.svg#icon-search"></use>
            </svg></button>


            <div class="notifications"><button class="notifications__open"><svg class="icon icon-bell">
              <use xlink:href="../static/img/sprite.svg#icon-bell"></use>
            </svg><span class="notifications__counter">3</span></button>
              <div class="notifications__wrap">
                <div class="notifications__info h6">运行消息</div>

                <div class="notifications__list">


                  <a class="notifications__item" href="notifications.html">
                    <div class="notifications__ava"><img class="notifications__pic" src="../../static/img/ava-1.png" alt="" />
                      <div class="notifications__status bg-blue"><img class="notifications__pic" src="../../static/img/chat.svg"
                                                                      alt="" /></div>
                    </div>
                    <div class="notifications__details">
                      <div class="notifications__line">
                        <div class="notifications__user caption">设备检测助手</div>
                        <div class="notifications__time caption">8h</div>
                      </div>
                      <div class="notifications__text caption-sm">你的设备可能炸了<span
                              class="notifications__project">系统消息</span></div>
                    </div>


                  </a><a class="notifications__item" href="notifications.html">
                  <div class="notifications__ava"><img class="notifications__pic" src="../../static/img/ava-1.png" alt="" />
                    <div class="notifications__status bg-green"><img class="notifications__pic" src="../../static/img/bag.svg"
                                                                     alt="" /></div>
                  </div>
                  <div class="notifications__details">
                    <div class="notifications__line">
                      <div class="notifications__user caption">运行报告</div>
                      <div class="notifications__time caption">12h</div>
                    </div>
                    <div class="notifications__text caption-sm">24内设备的运行报告出炉了！ <span
                            class="notifications__project">系统信息</span></div>
                  </div>


                </a><a class="notifications__item" href="notifications.html">
                  <div class="notifications__ava"><img class="notifications__pic" src="../../static/img/ava-1.png" alt="" />
                    <div class="notifications__status bg-purple"><img class="notifications__pic"
                                                                      src="../../static/img/message.svg" alt="" /></div>
                  </div>
                  <div class="notifications__details">
                    <div class="notifications__line">
                      <div class="notifications__user caption">用户消息</div>
                      <div class="notifications__time caption">14h</div>
                    </div>
                    <div class="notifications__text caption-sm">用户发来一条消息📪 </div>
                  </div>

                </a>
                </div>
                <div class="notifications__btns"><a class="notifications__btn btn btn_black"
                                                    href="/errorDetect.html">查看所有历史记录</a></div>
              </div>
            </div><a class="header__user" href="#"><img class="header__pic" src="../../static/img/ava.png" alt="" /></a>
          </div>
        </div>
      </div>

      <div class="page__content">

        <div class="banner">

          <div class="banner__container">
            <div class="banner__preview">
              <img class="banner__pic" src="../../static/img/banner-pic.png" alt="">
            </div>
            <div class="banner__wrap">
              <div class="banner__title h3">收到3条消息！</div>
              <div class="banner__text">Receive three messages</div><button
                    class="banner__btn btn btn_white">Mark all as read</button>
            </div>
          </div>

          <div class="activity">
            <div class="activity__row">
              <div class="activity__col">
                <div class="activity__container">

                  <div class="activity__title h6">消息来源</div>
                  <div class="activity__inner">

                    <div class="activity__variants"><label class="checkbox"><input class="checkbox__input"
                                                                                   type="checkbox"><span class="checkbox__in"><span class="checkbox__tick"></span><span
                            class="checkbox__text">系统</span></span></label><label class="checkbox"><input
                            class="checkbox__input" type="checkbox" checked><span class="checkbox__in"><span
                            class="checkbox__tick"></span><span class="checkbox__text">用户</span></span></label>
                    </div>


                    <div class="activity__group">
                      <div class="list">

                      </div>
                      <div class="activity__btns"><button class="activity__btn btn btn_black" id="loadmore">刷新</button></div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="activity__col">

                <div class="activity__title h6">发布消息</div>
                <div class="editor">

                  <div class="editor__wrap">

                    <div class="editor__head">

                      <div class="editor__control"><button class="editor__action"><svg class="icon icon-editor-smile">
                        <use xlink:href="../static/img/sprite.svg#icon-editor-smile"></use>
                      </svg></button><button class="editor__action active"><svg class="icon icon-editor-bold">
                        <use xlink:href="../static/img/sprite.svg#icon-editor-bold"></use>
                      </svg></button><button class="editor__action"><svg class="icon icon-editor-italic">
                        <use xlink:href="../static/img/sprite.svg#icon-editor-italic"></use>
                      </svg></button><button class="editor__action"><svg class="icon icon-editor-pic">
                        <use xlink:href="../static/img/sprite.svg#icon-editor-pic"></use>
                      </svg></button></div>
                    </div>

                    <div class="editor__body">
                      <div class="editor__field"><textarea class="editor__textarea" placeholder="text ..."></textarea>
                      </div>
                    </div>

                  </div>

                </div><button class="editor__btn btn btn_black btn_wide">Reply Comment</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="popup mfp-hide" id="popup-settings">
  <form class="popup__form">
    <div class="popup__title h6">Account Settings</div>
    <div class="popup__tags"><a class="popup__tag active" href="#">Profile</a><a class="popup__tag"
                                                                                 href="#">Password</a><a class="popup__tag" href="#">Email</a><a class="popup__tag" href="#">Notification</a><a
            class="popup__tag" href="#">Settings</a></div><select class="popup__select mobile-show">
    <option>Profile</option>
    <option>Password</option>
    <option>Email</option>
    <option>Notification</option>
    <option>Settings</option>
  </select>
    <div class="popup__user">
      <div class="popup__title h6 mobile-show">Your Profile</div>
      <div class="popup__category caption-sm">Your Avatar</div>
      <div class="popup__line">
        <div class="popup__ava"><img class="popup__pic" src="../../static/img/ava.png" alt=""></div>
        <div class="popup__details">
          <div class="popup__btns">
            <div class="popup__loading"><input class="popup__file" type="file"><button
                    class="popup__btn btn btn_purple">Upload New</button></div><button
                  class="popup__btn btn btn_gray">Delete Avatar</button>
          </div>
          <div class="popup__text">Avatar help your teammates recognize you in Unity.</div>
        </div>
      </div>
    </div>
    <div class="popup__fieldset">
      <div class="popup__row">
        <div class="popup__field field">
          <div class="field__label">Your Full Name</div>
          <div class="field__wrap"><input class="field__input" type="text"></div>
        </div>
        <div class="popup__field field">
          <div class="field__label">Display Name</div>
          <div class="field__wrap"><input class="field__input" type="text"></div>
        </div>
      </div>
      <div class="popup__row">
        <div class="popup__field field">
          <div class="field__label">Role</div>
          <div class="field__wrap"><input class="field__input" type="text"></div>
        </div>
        <div class="popup__field field">
          <div class="field__label">Location</div>
          <div class="field__wrap"><input class="field__input" type="text"></div>
        </div>
      </div>
      <div class="popup__row">
        <div class="popup__field field">
          <div class="field__label">Role</div>
          <div class="field__wrap"><input class="field__input" type="text"></div>
        </div>
        <div class="popup__field field">
          <div class="field__label">Team</div>
          <div class="field__wrap"><input class="field__input" type="text"></div>
        </div>
      </div>
      <div class="popup__field field">
        <div class="field__label">Bio</div>
        <div class="field__wrap"><textarea class="field__textarea"></textarea></div>
      </div>
    </div><button class="popup__btn btn btn_black" type="submit">Update Profile</button>
  </form>
</div><!-- scripts-->
<script src="../../static/js/lib/jquery.min.js"></script>
<script src="../../static/js/lib/owl.carousel.min.js"></script>
<script src="../../static/js/lib/svg4everybody.min.js"></script>
<script src="../../static/js/lib/apexcharts.min.js"></script>
<script src="../../static/js/lib/jquery.magnific-popup.min.js"></script>
<script src="../../static/js/super.js"></script>
<script src="../../static/js/charts.js"></script>
</body>
<!--初始警告信息-->
<script>
  $(document).ready(function () {
    var usernum=3+parseInt(Math.random()*(3+1),10);
    var jinggao =  "<div class=\"activity__list\">"
    for (i=0;i<usernum;i++){
      var shifou=parseInt(Math.random()*(2+1),10);
      if (shifou==0){
        jinggao += "<div class=\"activity__item system error\">\n" +
                "\n" +
                "                            <div class=\"activity__ava\"><img class=\"activity__pic\" src=\"../../static/img/ava-4.png\" alt=\"\">\n" +
                "                              <div class=\"activity__status\"><img class=\"activity__pic\" src=\"../../static/img/chat-black.svg\" alt=\"\">\n" +
                "                              </div>\n" +
                "                            </div>\n" +
                "\n" +
                "                            <div class=\"activity__details\">\n" +
                "                              <div class=\"activity__author title\">用户"+parseInt(Math.random()*(99+1),10)+"</div>\n" +
                "                              <div class=\"activity__line caption\">\n" +
                "                                <div class=\"activity__category\">反馈信息</div>\n" +
                "                                <div class=\"activity__info\"> 已读 </div>\n" +
                "                                <div class=\"activity__time\">"+new Date().toLocaleString()+"</div>\n" +
                "                              </div>\n" +
                "                              <div class=\"activity__text\">网速有点慢</div>\n" +
                "                            </div>\n" +
                "\n" +
                "                          </div>\n";
      }
      if (shifou==1||shifou==2){
        jinggao +=      "                          <div class=\"activity__item system normal\" style='width: 400px'>\n" +
                "                            <div class=\"activity__ava\"><img class=\"activity__pic\" src=\"../../static/img/ava-4.png\" alt=\"\">\n" +
                "                              <div class=\"activity__status\"><img class=\"activity__pic\" src=\"../../static/img/chat-black.svg\" alt=\"\">\n" +
                "                              </div>\n" +
                "                            </div>\n" +
                "                            <div class=\"activity__details\">\n" +
                "                              <div class=\"activity__author title\">用户"+parseInt(Math.random()*(99+1),10)+"</div>\n" +
                "                              <div class=\"activity__line caption\">\n" +
                "                                <div class=\"activity__category\">反馈信息</div>\n" +
                "                                <div class=\"activity__info\">已读</div>\n" +
                "                                <div class=\"activity__time\">"+new Date().toLocaleString()+"</div>\n" +
                "                              </div>\n" +
                "                              <div class=\"activity__text\">网速很快</div>\n" +
                "                            </div>\n" +
                "\n" +
                "                          </div>\n";
      }

    }
    jinggao += "</div>";
    $(".list").append(jinggao);

  });
</script>
<!--点击-->
<script>
  $('.list').on('click','.activity__item', function () {
    $('.activity__item').removeClass('active');
    $(this).toggleClass('active');
  });
</script>
<!--刷新-->
<script>
  $(document).ready(function () {
    $("#loadmore").click(function () {
      $(".activity__list").empty();
      var usernum=3+parseInt(Math.random()*(3+1),10);
      var jinggao =  "<div class=\"activity__list\">"
      for (i=0;i<usernum;i++){
        var shifou=parseInt(Math.random()*(1+1),10);
        if (shifou==0){
          jinggao += "<div class=\"activity__item system error\">\n" +
                  "\n" +
                  "                            <div class=\"activity__ava\"><img class=\"activity__pic\" src=\"../../static/img/ava-4.png\" alt=\"\">\n" +
                  "                              <div class=\"activity__status\"><img class=\"activity__pic\" src=\"../../static/img/chat-black.svg\" alt=\"\">\n" +
                  "                              </div>\n" +
                  "                            </div>\n" +
                  "\n" +
                  "                            <div class=\"activity__details\">\n" +
                  "                              <div class=\"activity__author title\">用户"+parseInt(Math.random()*(99+1),10)+"</div>\n" +
                  "                              <div class=\"activity__line caption\">\n" +
                  "                                <div class=\"activity__category\">反馈信息</div>\n" +
                  "                                <div class=\"activity__info\"> 已读 </div>\n" +
                  "                                <div class=\"activity__time\">"+new Date().toLocaleString()+"</div>\n" +
                  "                              </div>\n" +
                  "                              <div class=\"activity__text\">网速有点慢</div>\n" +
                  "                            </div>\n" +
                  "\n" +
                  "                          </div>\n";
        }
        if (shifou==1){
          jinggao +=      "                          <div class=\"activity__item system normal\" style='width: 400px'>\n" +
                  "                            <div class=\"activity__ava\"><img class=\"activity__pic\" src=\"../../static/img/ava-4.png\" alt=\"\">\n" +
                  "                              <div class=\"activity__status\"><img class=\"activity__pic\" src=\"../../static/img/chat-black.svg\" alt=\"\">\n" +
                  "                              </div>\n" +
                  "                            </div>\n" +
                  "                            <div class=\"activity__details\">\n" +
                  "                              <div class=\"activity__author title\">用户"+parseInt(Math.random()*(99+1),10)+"</div>\n" +
                  "                              <div class=\"activity__line caption\">\n" +
                  "                                <div class=\"activity__category\">反馈信息</div>\n" +
                  "                                <div class=\"activity__info\">已读</div>\n" +
                  "                                <div class=\"activity__time\">"+new Date().toLocaleString()+"</div>\n" +
                  "                              </div>\n" +
                  "                              <div class=\"activity__text\">网速很快</div>\n" +
                  "                            </div>\n" +
                  "\n" +
                  "                          </div>\n";
        }

      }
      jinggao += "</div>";
      $(".list").append(jinggao);
    });

  });
</script>
</html>